/.*.sw?
/*.lo
/.deps
/.libs
/.dirstamp
/copydatabase
/delve
/quest
/simpleexpand
/simpleindex
/simplesearch
/xapian-metadata
/copydatabase.exe
/delve.exe
/quest.exe
/simpleexpand.exe
/simpleindex.exe
/simplesearch.exe
/xapian-metadata.exe
/copydatabase.1
/delve.1
/quest.1
/xapian-metadata.1
