# Right now, we build on containerised linux, which defaults to the
# ancient Ubuntu 12.04 LTS.  Specify "dist: trusty" so we get something
# which is "only" 2.5 years old.
dist: trusty
sudo: false
language: cpp
notifications:
  irc: "chat.freenode.net#xapian-devel"
env:
  global:
    # Tell bootstrap where to clone ./common from
    - XAPIAN_COMMON_CLONE_URL=https://github.com/xapian/xapian.git
    - HOMEBREW_PACKAGES='doxygen help2man graphviz pngcrush libmagic pcre libsvm lua mono python2 python'
matrix:
  include:
    - compiler: gcc
      os: linux
      addons:
        apt:
          packages:
            - doxygen
            - graphviz
            - help2man
            - python-docutils
            - pngcrush
            - python-sphinx
            - uuid-dev
            - libpcre3-dev
            - libmagic-dev
            - lua5.2
            - liblua5.2-dev
            - mono-devel
            - python-dev
            - python3-dev
            - tcl
            - libsvm-dev
    - compiler: clang
      os: linux
      # Clang is already installed, but we want to build using the
      # llvm c++ library, not the GCC one. (Otherwise, depending on
      # the GCC version, there can be issues.)
      addons:
        apt:
          packages:
            - doxygen
            - graphviz
            - help2man
            - python-docutils
            - pngcrush
            - python-sphinx
            - uuid-dev
            - libpcre3-dev
            - libmagic-dev
            - tcl
            - libsvm-dev
            - libc++-dev
      # We also have to disable an error, because (older?)
      # perl header files don't play nicely with clang.
      env: USE_CC=clang USE_CXX='clang++ -stdlib=libc++' CXXFLAGS=-Wno-error=reserved-user-defined-literal
    - os: linux
      sudo: required
      addons:
        apt:
          packages:
            - doxygen
            - graphviz
            - help2man
            - python-docutils
            - python-pygments
            - pngcrush
      language: node_js
      node_js:
        - node
      services:
        - docker
      before_install:
        - docker run -dit --name emscripten -v $(pwd):/src trzeci/emscripten:sdk-incoming-64bit bash
      before_script:
        # Bootstrap only xapian-core for emscripten build.
        - ./bootstrap xapian-core
        - ./configure CXXFLAGS=-O0 --disable-backend-honey --disable-backend-inmemory --disable-backend-remote
        - make
        - make distclean
          # -w needs docker API 1.35+: - docker exec -it -w xapian-core emscripten emconfigure ./configure $confargs CXXFLAGS='-O3 -s USE_ZLIB=1' --disable-backend-honey --disable-backend-inmemory --disable-backend-remote
        - docker exec -it emscripten sh -c "cd xapian-core && emconfigure ./configure $confargs CXXFLAGS='-O3 -s USE_ZLIB=1 -s DISABLE_EXCEPTION_CATCHING=0' CPPFLAGS=-DFLINTLOCK_USE_FLOCK --disable-backend-honey --disable-backend-inmemory --disable-backend-remote --disable-shared"
      script:
        - docker exec -it emscripten emmake make -C xapian-core
        - wget https://raw.githubusercontent.com/runbox/xapian/master/xapian-core/emscripten/xapianjstest.cc
        - perl -pi -e 's/main\(\)/$& try/;s/^}/} catch (Xapian::Error e) { cout << e.get_description() << endl; }/' xapianjstest.cc
        - docker exec -it emscripten em++ -O3 -s USE_ZLIB=1 -s DISABLE_EXCEPTION_CATCHING=0 -std=c++11 -s WASM=1 -Ixapian-core/include xapianjstest.cc xapian-core/.libs/libxapian-1.5.a -o xapianjstest.js
        - node xapianjstest.js
    - os: osx
      before_install:
        - brew update
        # python is now python3, but the travis macOS build isn't there yet
        # so we need to explicitly upgrade otherwise we end up with the old
        # python (which is 2.7.x) and the python2 package (which is also
        # 2.7.x). This step can be removed once travis ships with a more
        # recent homebrew.
        - brew upgrade python
        # "brew install" unhelpfully errors out if any package listed is
        # already installed and up-to-date, but travis change what's installed
        # by default from time to time so it's brittle to just filter out those
        # installed by default from the list we need.  Instead we ignore the
        # exit status from "brew install", then check later that
        # "brew list --versions" says all the packages requested are installed.
        - brew install $HOMEBREW_PACKAGES || true
        - brew list --versions $HOMEBREW_PACKAGES
        - pip2 install sphinx docutils
        - pip3 install sphinx
        - mkdir -p /tmp/xapian-libsvm-fixed-include
        - ln -sF "`ls -1d /usr/local/Cellar/libsvm/3.*/include|tail -n 1`" /tmp/xapian-libsvm-fixed-include/libsvm
      env: PYTHON2=/usr/local/bin/python2 CXXFLAGS=-Wno-error=reserved-user-defined-literal CPPFLAGS=-I/tmp/xapian-libsvm-fixed-include confargs=--prefix=/Users/travis/XapianInstall installcore='make -C xapian-core install'
    - os: linux
      # (Ab)use env to label this build:
      env: dummy="Automated run of xapian-check-patch"
      # Override before_script to do nothing
      before_script:
      # Override script to diff from against the branch point from:
      # * for a PR, the branch the PR targets
      # * otherwise, master
      script:
        - git diff `[ "$TRAVIS_PULL_REQUEST" = false ] && echo master || echo "$TRAVIS_BRANCH"`...|xapian-maintainer-tools/xapian-check-patch


before_script:
  # Bootstrap everything (including letor, which isn't done
  # by default), then configure using our chosen compiler.
  - ./bootstrap xapian-core xapian-applications/omega swig xapian-bindings xapian-letor
  - ./configure $confargs CC="$USE_CC" CXX="$USE_CXX"
script:
  - make
  - $installcore
  - make check VERBOSE=1 AUTOMATED_TESTING=1
  # grep '^' passes through all input while giving a non-zero exit status if
  # that input is empty.
  - git status --porcelain|grep '^' && { echo "The generated files listed above are not in .gitignore" ; exit 1; }; true
