dist: xenial
language: cpp
notifications:
  irc: "chat.freenode.net#xapian-devel"
env:
  global:
    - HOMEBREW_PACKAGES='doxygen help2man graphviz pngcrush libiconv libmagic pcre libsvm lua mono python2 python icu4c'
matrix:
  include:
    - compiler: gcc
      os: linux
      addons:
        apt:
          packages:
            - doxygen
            - graphviz
            - help2man
            - python-docutils
            - pngcrush
            - python-sphinx
            - uuid-dev
            - libpcre3-dev
            - libmagic-dev
            - lua5.3
            - liblua5.3-dev
            - mono-devel
            - python-dev
            - python3-dev
            - tcl
            - libsvm-dev
            - libicu-dev
            - pkg-config
      env: CPPFLAGS=-D_GLIBCXX_DEBUG
    - compiler: clang
      os: linux
      # Clang is already installed, but we want to build using the
      # llvm c++ library, not the GCC one. (Otherwise, depending on
      # the GCC version, there can be issues.)
      addons:
        apt:
          packages:
            - doxygen
            - graphviz
            - help2man
            - python-docutils
            - pngcrush
            - python-sphinx
            - uuid-dev
            - libpcre3-dev
            - libmagic-dev
            - tcl
            - libsvm-dev
            - libc++-dev
            - libicu-dev
            - pkg-config
      # We also have to disable an error, because (older?)
      # perl header files don't play nicely with clang.
      env: USE_CC=clang USE_CXX='clang++ -stdlib=libc++' CXXFLAGS='-O2 -g -Wno-error=reserved-user-defined-literal'
    - compiler: gcc
      os: linux
      # Test with trusty as it has GCC 4.8 which is the oldest GCC we currently
      # aim to support.
      dist: trusty
      addons:
        apt:
          packages:
            - doxygen
            - graphviz
            - help2man
            - python-docutils
            - pngcrush
            - python-sphinx
            - uuid-dev
            - libpcre3-dev
            - libmagic-dev
            - lua5.2
            - liblua5.2-dev
            - mono-devel
            - python-dev
            - python3-dev
            - tcl
            - libsvm-dev
    - os: linux
      addons:
        apt:
          packages:
            - doxygen
            - graphviz
            - help2man
            - python-docutils
            - python-pygments
            - pngcrush
      language: node_js
      node_js:
        - node
      services:
        - docker
      before_script:
        # Bootstrap only xapian-core for emscripten build.
        - ./bootstrap xapian-core
        - ./configure CXXFLAGS=-O0 --disable-backend-honey --disable-backend-inmemory --disable-backend-remote
        - make -j2
        - make -j2 distclean
        - cd xapian-core
        - docker run -v $(pwd):/src trzeci/emscripten emconfigure ./configure CPPFLAGS='-DFLINTLOCK_USE_FLOCK' CXXFLAGS='-Oz -s USE_ZLIB=1 -fno-rtti' --disable-backend-honey --disable-backend-inmemory --disable-shared --disable-backend-remote
      script:
        - docker run -v $(pwd):/src trzeci/emscripten emmake make
        - docker run -v $(pwd):/src trzeci/emscripten em++ -Oz -s USE_ZLIB=1 -std=c++11 -s WASM=1 -Iinclude emscripten/xapianjstest.cc .libs/libxapian-1.5.a -o emscripten/xapianjstest.js
        - cd emscripten && node xapianjstest.js
    - os: osx
      before_install:
        - brew update
        # "brew install" unhelpfully errors out if any package listed is
        # already installed and up-to-date, but travis change what's installed
        # by default from time to time so it's brittle to just filter out those
        # installed by default from the list we need.  Instead we ignore the
        # exit status from "brew install", then check later that
        # "brew list --versions" says all the packages requested are installed.
        - brew install $HOMEBREW_PACKAGES || true
        - brew list --versions $HOMEBREW_PACKAGES
        - pip2 install sphinx docutils
        - pip3 install sphinx
        - mkdir -p /tmp/xapian-libsvm-fixed-include
        - ln -sF "`ls -1d /usr/local/Cellar/libsvm/3.*/include|tail -n 1`" /tmp/xapian-libsvm-fixed-include/libsvm
      env: PYTHON2=/usr/local/bin/python2 CXXFLAGS='-O2 -g -Wno-error=reserved-user-defined-literal' CPPFLAGS=-I/tmp/xapian-libsvm-fixed-include PKG_CONFIG_PATH=/usr/local/opt/icu4c/lib/pkgconfig confargs='--prefix=/Users/travis/XapianInstall --with-libiconv-prefix=/usr/local/opt/libiconv' installcore='make -C xapian-core install'
    - os: linux
      # (Ab)use env to label this build:
      env: dummy="Automated run of xapian-check-patch"
      # Override before_script to do nothing
      before_script:
      # Override script to diff from against the branch point from:
      # * for a PR, the branch the PR targets
      # * otherwise, master
      script:
        - git diff `[ "$TRAVIS_PULL_REQUEST" = false ] && echo master || echo "$TRAVIS_BRANCH"`...|xapian-maintainer-tools/xapian-check-patch


before_script:
  # Bootstrap everything (including letor, which isn't done
  # by default), then configure using our chosen compiler.
  - ./bootstrap xapian-core xapian-applications/omega swig xapian-bindings xapian-letor
  - ./configure $confargs CC="$USE_CC" CXX="$USE_CXX"
script:
  - make
  - $installcore
  - make check VERBOSE=1 AUTOMATED_TESTING=1
  # grep '^' passes through all input while giving a non-zero exit status if
  # that input is empty.
  - git status --porcelain|grep '^' && { echo "The generated files listed above are not in .gitignore" ; exit 1; }; true
