Source: xapian-bindings
Section: libs
Priority: optional
Maintainer: Richard Boulton <richard@tartarus.org>
Build-Depends: python2.1-dev, python2.2-dev, python2.3-dev, debhelper (>= 4.1.67), libxapian-dev, libxapian-queryparser-dev, swig1.3 (>= 1.3.14), autotools-dev
Standards-Version: 3.6.1

Package: python-xapian
Section: python
Architecture: all
Depends: python (>= 2.3), python (<< 2.4), python2.3-xapian (= ${Source-Version})
Description: Xapian search engine interface for Python [dummy package]
 Blurb
 .
 This package is an empty dummy package that always depends on
 a package built for Debian's default Python version.

Package: python2.1-xapian
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Description: Xapian search engine interface for Python (2.1.x)
 Blurb
 .
 This package is built for Python 2.1.x.

Package: python2.2-xapian
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Description: Xapian search engine interface for Python (2.2.x)
 Blurb
 .
 This package is built for Python 2.2.x.

Package: python2.3-xapian
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Description: Xapian search engine interface for Python (2.3.x)
 Blurb
 .
 This package is built for Python 2.3.x.
