#!/usr/bin/make -f
#
# Copyright (C) 2004,2005,2006 Lemur Consulting Ltd
# Copyright (C) 2006 Olly Betts
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301
# USA

# Component we're building packages for.  If not explicitly specified, default
# to that named in debian/component and if that's not given, use "unstable".
COMPONENT ?= $(shell cat debian/component 2>/dev/null||echo unstable)

# The python versions to build for
ifeq ($(COMPONENT), unstable)
# Debian unstable doesn't have Python 2.1 or 2.2
PYTHON_VERSIONS := 2.3 2.4
else
PYTHON_VERSIONS := 2.1 2.2 2.3 2.4
endif

# The PHP versions to build for
ifeq ($(COMPONENT), stable)
# Debian stable doesn't have PHP5
PHP_VERSIONS := 4
else
PHP_VERSIONS := 4 5
endif

export DH_OPTIONS

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	confflags += --build $(DEB_HOST_GNU_TYPE)
else
	confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	confflags += CFLAGS="-O0" CXXFLAGS="-O0"
else
	confflags += CFLAGS="-O2" CXXFLAGS="-O2"
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

# Build depends needed for Python.  We need python itself for dh_python to
# work.
PYTHON_BUILD_DEPENDS=python, $(PYTHON_VERSIONS:%=python%-dev,)

# Build depends needed for PHP.
PHP_BUILD_DEPENDS=$(PHP_VERSIONS:%=php%-dev,)

# Build depends needed for Tcl.  We use Tcl's stubs mechanism, so the built
# bindings will work with any Tcl version from 8.0.6 upwards, whichever
# version they were built against.
#
# Currently all the distributions which we want to build packages for have
# tcl8.4-dev, so just build against that.
TCL_BUILD_DEPENDS=tcl8.4-dev,# NB Trailing ',' required here!
TCLSH=/usr/bin/tclsh8.4

BUILD_DEPS=$(PYTHON_BUILD_DEPENDS) $(PHP_BUILD_DEPENDS) $(TCL_BUILD_DEPENDS)

commonconfflags := \
	$(confflags) \
	--prefix=/usr \
	--mandir=\$${prefix}/share/man \
	--infodir=\$${prefix}/share/info \
	--sysconfdir=/etc


maint: debian/control

maintclean: clean
	rm -f debian/control

debian/control: debian/rules debian/control.in debian/control-python.in
	sed "s/@BUILD_DEPS@/$(BUILD_DEPS)/g" debian/control.in > debian/control
	for v in $(PYTHON_VERSIONS); do \
	    sed "s/@PYTHON_VERSION@/$$v/g" debian/control-python.in ;\
	done >> debian/control
	for v in $(PHP_VERSIONS); do \
	    sed "s/@PHP_VERSION@/$$v/g" debian/control-php.in ;\
	done >> debian/control

configure: debian/configure-stamp
debian/configure-stamp:
	dh_testdir

	# Use the latest config.sub and config.guess from the autotools-dev
	# package.
	rm -f config.sub config.guess
	ln -s /usr/share/misc/config.sub config.sub
	ln -s /usr/share/misc/config.guess config.guess

	for v in $(PYTHON_VERSIONS); do \
	    set -e; \
	    mkdir -p build-python$$v; \
	    cd build-python$$v; \
	    ../configure $(commonconfflags) --with-python \
	     PYTHON=/usr/bin/python$$v; \
	    cd ..; \
	done

	for v in $(PHP_VERSIONS); do \
	    c=/usr/bin/php-config$$v; \
	    if test -x $$c ; then \
		set -e; \
		mkdir -p build-php$$v; \
		cd build-php$$v; \
		../configure $(commonconfflags) --with-php PHP_CONFIG=$$c; \
		cd ..; \
	    fi \
	done

	mkdir -p build-tcl
	cd build-tcl && ../configure $(commonconfflags) --with-tcl8 TCLSH=$(TCLSH)

	touch $@

build: configure debian/build-stamp
debian/build-stamp:
	dh_testdir
	for v in $(PYTHON_VERSIONS); do \
	    set -e; \
	    $(MAKE) -C build-python$$v; \
	done
	for v in $(PHP_VERSIONS); do \
	    if test -x /usr/bin/php-config$$v ; then \
		set -e; \
		$(MAKE) -C build-php$$v; \
	    fi \
	done
	$(MAKE) -C build-tcl
	touch $@

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install the files into debian/tmp
	for v in $(PYTHON_VERSIONS); do \
	    set -e; \
	    $(MAKE) -C build-python$$v DESTDIR=$(CURDIR)/debian/tmp install; \
	done

	for v in $(PHP_VERSIONS); do \
	    c=/usr/bin/php-config$$v; \
	    if test -x $$c ; then \
		set -e; \
		$(MAKE) -C build-php$$v DESTDIR=$(CURDIR)/debian/tmp install; \
	    fi \
	done

	$(MAKE) -C build-tcl DESTDIR=$(CURDIR)/debian/tmp install

	# Reads the *.install files to decide where to install everything
	dh_install --sourcedir=debian/tmp --fail-missing --exclude=.pyc

binary: binary-arch binary-indep
binary-indep: DH_OPTIONS=-i
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installdebconf
	dh_installman
	dh_installchangelogs ChangeLog
	dh_compress
	dh_fixperms
	dh_python
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installman
	dh_installchangelogs ChangeLog
	dh_strip
	dh_link
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_python
	dh_installdeb
	dh_shlibdeps

	# php-config4 in sarge doesn't understand --phpapi and we want to
	# support backporting so use --extension-dir and remove the path
	# with sed.
	for v in $(PHP_VERSIONS); do \
	    c=/usr/bin/php-config$$v; \
	    if test -x $$c ; then \
		set -e; \
		echo "php$$v:Depends=phpapi-`$$c --extension-dir|sed 's,.*/,,'`, php$$v-common" >> debian/php$$v-xapian.substvars; \
	    fi \
	done

	# sarge onwards don't have tcl8.2 or earlier, though we would work with
	# 8.2 and 8.1 if they were packaged.
	echo "tcl:Depends=tcl8.4|tcl8.3"

	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	dh_testroot
	for v in $(PYTHON_VERSIONS); do \
	    set -e; \
	    rm -rf build-python$$v; \
	done
	for v in $(PHP_VERSIONS); do \
	    set -e; \
	    rm -rf build-php$$v; \
	done
	rm -rf build-tcl
	debconf-updatepo
	rm -f config.sub config.guess
	dh_clean
	rm -f debian/build-stamp debian/configure-stamp

.PHONY: maint maintclean configure build install binary binary-arch binary-indep clean
