#!/usr/bin/make -f

export DH_COMPAT=3
export DH_OPTIONS

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	confflags += --build $(DEB_HOST_GNU_TYPE)
else
	confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	confflags += CFLAGS="-O0" CXXFLAGS="-O0"
else
	confflags += CFLAGS="-O2" CXXFLAGS="-O2"
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

PYTHONVERSIONS = 2.1 2.2 2.3

commonconfflags := \
	$(confflags) \
	--prefix=/usr \
	--mandir=\$${prefix}/share/man \
	--infodir=\$${prefix}/share/info \
	--sysconfdir=/etc \
	--enable-maintainer-mode

clean:
	dh_testdir
	dh_testroot
	for v in $(PYTHONVERSIONS); do \
	    set -e; \
	    rm -rf build-python$$v; \
	done
	rm -f config.sub config.guess
	dh_clean
	rm -f build-stamp configure-stamp

# The autotools target adds forced build-time dependencies on
# autotools-dev (for /usr/share/misc/config.*)
# It's also a .PHONY make target.
autotools:
	rm -f config.sub config.guess
	ln -s /usr/share/misc/config.sub config.sub
	ln -s /usr/share/misc/config.guess config.guess

configure: debian/control configure-stamp
configure-stamp: autotools
	dh_testdir

	for v in $(PYTHONVERSIONS); do \
	    set -e; \
	    mkdir -p build-python$$v; \
	    cd build-python$$v; \
	    ../configure $(commonconfflags) \
	     --without-php --without-tcl --without-java --without-guile \
	     PYTHON=/usr/bin/python$$v; \
	    cd ..; \
	done

	touch configure-stamp

build: configure build-stamp
build-stamp:
	dh_testdir
	for v in $(PYTHONVERSIONS); do \
	    set -e; \
	    cd build-python$$v; \
	    $(MAKE); \
	    cd ..; \
	done
	touch build-stamp

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install the files into debian/*
	for v in $(PYTHONVERSIONS); do \
	    set -e; \
	    cd build-python$$v; \
	    $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install; \
	    cd ..; \
	done

	# Reads the *.install files to decide where to install everything
	dh_install --sourcedir=debian/tmp

binary: binary-arch binary-indep
binary-indep: DH_OPTIONS=-i
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installman
	dh_installchangelogs ChangeLog
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installman
	dh_installchangelogs ChangeLog
	dh_strip
	dh_link
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_python
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: clean autotools configure build install binary binary-arch binary-indep
