/.*.sw?
/*.lo
/Makefile
/Makefile.in
/aclocal.m4
/configure
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/install-sh
/libtool
/ltmain.sh
/stamp-h
/stamp-h1
/stamp-h.in
/.deps
/.libs
/autom4te*.cache
/depcomp
/missing
/omega
/omindex
/omindex-config
/scriptindex
/htmlparsetest
/md5test
/utf8converttest
/libtransform.la
/xapian-omega-*.tar.xz
/xapian-omega.spec
/makemanpage
/outlookmsg2html
/*.1
