/.*.sw?
/*.lo
/Makefile
/Makefile.in
/aclocal.m4
/compile
/configure
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/install-sh
/libtool
/ltmain.sh
/stamp-h
/stamp-h1
/stamp-h.in
/test-driver
/test-suite.log
/.common.git
/.deps
/portability/.deps/
/.libs
/autom4te*.cache
/depcomp
/missing
/omega
/omindex
/omindex-list
/scriptindex
/atomparsetest
/csvesctest
/htmlparsetest
/jsonesctest
/md5test
/urlenctest
/utf8converttest
/*test.log
/*test.trs
/libtransform.la
/xapian-omega-*.tar.xz
/xapian-omega.spec
/makemanpage
/mhtml2html
/outlookmsg2html
/rfc822tohtml
/mimemap.h
/namedents.h
/my-html-tok.h
/*.1
