      </div>
<!--
      <div class='sidebar'>
      <div class='content-block'>
        <h1>Download</h1>
        <h2>Latest release (2008-03-17)</h2>
        <ul title='Download options'>
	  <li><a href='http://static.xapian.org/releases/source/1.0.6/xapian-core-1.0.6.tar.gz'>core 1.0.6</a></li>

	  <li><a href='http://static.xapian.org/releases/source/1.0.6/xapian-omega-1.0.6.tar.gz'>omega 1.0.6</a></li>
	  <li><a href='http://static.xapian.org/releases/source/1.0.6/xapian-bindings-1.0.6.tar.gz'>bindings 1.0.6</a></li>
	  <li><a href='http://static.xapian.org/releases/source/1.0.6/Search-Xapian-1.0.6.0.tar.gz'>Search::Xapian Perl bindings 1.0.6.0</a></li>
	</ul>
        <p>Other options are available from <a href='/download/'>the download page</a>.</p>
      </div>
      </div>
-->
    </div>
    <address>
      &#169; The Xapian Developers 2001-2009. All Rights Reserved.
    </address>
  </body>
</html>
