body {
    margin: 0px;
}

fieldset {
	outline: none;
	border: 0px;
	text-align: center;
}

.query-search, .query-metadata,
.query-suggested-container, .query-options, .query-suggestion {
    background-color: #FAFAFA;
    text-align: center;
}

.query-metadata {
    margin: 0px;
    box-shadow: 0 5px 5px -6px black;
}

.query-metadata-element {
    display: block;
    padding: 2px;
}

.query-search-textbox {
	width: 400px;
	height: 35px;
	font-size: 14px;
	padding: 20px;
	margin-right: 5px;
	border: 0px solid #aaa;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.query-search-textbox:focus, .query-search-textbox:hover{
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.query-search-button {
    height: 40px;
    width: 100px;
    color: #313131;
    font-size: 14px;
    border: 0px;
    background-color: #ECEFF1;
    border: 1px solid #ddd;
}

.query-search-button:hover {
    transition-duration: .4s;
    background-color: #FAFAFA;
    color: #111111;
    border: 1px solid #bbb;
}

.list-item-result, .list-item-info {
    padding: 20px;
}

.list-item-info {
    background-color: #ecf0f1;
}

.list-item-result {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.list-item-header {
    font-size: 18px;
}

.list-item-meta {
    display: block;
    font-size: 12px;
}

.list-item-content {
    font-size: 14px;
}

.list-item-link {
    font-size: 14px;
}

.list-item-progress-container {
    border: 1px solid #888;
    border-radius: 3px;
    float: left;
    width:60px;
    height:10px;
}

.list-item-progress {
    height: 10px;
    background-color: #ff5252;
}