/.*.sw?
/*.lo
/*.pyc
/Makefile.in
/Makefile
/.deps
/.libs
/.replicatmp
/apitest
/runsrv
/runtest
/apitest.exe
/.glass
/.honey
/.multiglass
/.singlefileglass
/.stub
/api_all.h
/api_collated.h
/api_collated.stamp
/api_generated.cc
/api_generated.h
/api_letor.h
/perflog.xml
/submitperftest
/zlib-vg.so
/err_output.txt
/listmle_ranker_training.txt
/listnet_ranker_training.txt
/ndcg_output.txt
/ndcg_score_output.txt
/training_output.txt
/training_output1.txt
/training_output_data_bias.txt
/training_output_three_correct.txt
