/.*.sw?
/*.lo
/*.pyc
/Makefile.in
/Makefile
/.deps
/.libs
/.replicatmp
/apitest
/runsrv
/runtest
/apitest.exe
/.glass
/.multiglass
/.singlefileglass
/.stub
/api_all.h
/api_collated.h
/api_collated.stamp
/api_generated.cc
/api_generated.h
/api_letor.h
/perflog.xml
/submitperftest
/zlib-vg.so
/listnet_ranker_training.txt
/scorer_output.txt
/svm_ranker_training.txt
