/.*.sw?
/Makefile.in
/Makefile
/.deps
/bm25.html
/geospatial.html
/index.html
/install.html
/internals.html
/intro_ir.html
/matcherdesign.html
/overview.html
/queryparser.html
/remote.html
/stemming.html
/termgenerator.html
/tests.html
/valueranges.html
/docsource.mk
/doxygen_api.conf
/doxygen_source.conf
/doxygen_source_warnings
/apidoc
/apidoc.pdf
/sourcedoc
/sourcedoc.pdf
