/.*.sw?
/Makefile.in
/Makefile
/.deps
/admin_notes.html
/bm25.html
/code_structure.html
/collapsing.html
/deprecation.html
/facets.html
/gen_codestructure_doc
/geospatial.html
/glossary.html
/index.html
/install.html
/internals.html
/intro_ir.html
/matcherdesign.html
/overview.html
/postingsource.html
/queryparser.html
/quickstart.html
/remote.html
/remote_protocol.html
/replication.html
/replication_protocol.html
/scalability.html
/serialisation.html
/sorting.html
/spelling.html
/stemming.html
/synonyms.html
/termgenerator.html
/tests.html
/valueranges.html
/docsource.mk
/doxygen_api.conf
/doxygen_source.conf
/doxygen_source_warnings
/apidoc
/apidoc.pdf
/sourcedoc
/sourcedoc.pdf
