/.*.sw?
/*.lo
/Makefile.in
/Makefile
/.deps
/.libs
/*.pyc
/_xapian.la
/xapian
/modern
/except.i
/doccomments.i
/doctrees
/docs/conf.py
/docs/html
/version.i
/db_test_get_uuid1
/db_test_get_uuid2
/dbs_replication
/db_test_value_mods
/__pycache__
/*test.py.log
/*test.py.trs
/test-suite.log
/xapian.py
/xapian_wrap.cc
/xapian_wrap.d
/xapian_wrap.h
/xapian_wrap.stamp
