.deps
.libs
/.common.git
/Makefile
Makefile.in
aclocal.m4
autom4te.cache
api/.deps
api/.dirstamp
api/.libs
bin/.deps
bin/.dirstamp
bin/.libs
bin/xapian-letor-update
bin/xapian-letor-update.1
bin/xapian-prepare-trainingfile
bin/xapian-prepare-trainingfile.1
bin/xapian-rank
bin/xapian-rank.1
bin/xapian-train
bin/xapian-train.1
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
docs/Makefile
docs/Makefile.in
feature/.deps
feature/.dirstamp
feature/.libs
install-sh
/installable
*.lo
libtool
*.la
ltmain.sh
makemanpage
missing
ranker/.deps
ranker/.dirstamp
ranker/.libs
scorer/.deps
scorer/.dirstamp
scorer/.libs
stamp-h1
/xapianletor-config
