.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
docs/Makefile
docs/Makefile.in
examples/.deps
examples/.dirstamp
examples/.libs
examples/questletor
examples/questletor.1
install-sh
*.lo
libtool
*.la
ltmain.sh
m4
makemanpage
missing
stamp-h1
