.deps
.libs
/.common.git
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin/.deps
bin/.dirstamp
bin/.libs
bin/xapian-rank
bin/xapian-rank.1
bin/xapian-letor-update
bin/xapian-letor-update.1
bin/xapian-prepare-trainingfile
bin/xapian-prepare-trainingfile.1
bin/xapian-train
bin/xapian-train.1
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
docs/Makefile
docs/Makefile.in
install-sh
*.lo
libtool
*.la
ltmain.sh
m4
makemanpage
missing
stamp-h1
