.*.sw?
MYMETA.json
MYMETA.yml
Makefile
XS/AssertionError.xs
XS/DatabaseCorruptError.xs
XS/DatabaseCreateError.xs
XS/DatabaseError.xs
XS/DatabaseLockError.xs
XS/DatabaseModifiedError.xs
XS/DatabaseOpeningError.xs
XS/DatabaseVersionError.xs
XS/DocNotFoundError.xs
XS/Error.xs
XS/FeatureUnavailableError.xs
XS/InternalError.xs
XS/InvalidArgumentError.xs
XS/InvalidOperationError.xs
XS/LogicError.xs
XS/NetworkError.xs
XS/NetworkTimeoutError.xs
XS/QueryParserError.xs
XS/RangeError.xs
XS/RuntimeError.xs
XS/SerialisationError.xs
XS/UnimplementedError.xs
Xapian.bs
Xapian.c
Xapian.lo
Xapian/AssertionError.pm
Xapian/DatabaseCorruptError.pm
Xapian/DatabaseCreateError.pm
Xapian/DatabaseError.pm
Xapian/DatabaseLockError.pm
Xapian/DatabaseModifiedError.pm
Xapian/DatabaseOpeningError.pm
Xapian/DatabaseVersionError.pm
Xapian/DocNotFoundError.pm
Xapian/Error.pm
Xapian/FeatureUnavailableError.pm
Xapian/InternalError.pm
Xapian/InvalidArgumentError.pm
Xapian/InvalidOperationError.pm
Xapian/LogicError.pm
Xapian/NetworkError.pm
Xapian/NetworkTimeoutError.pm
Xapian/QueryParserError.pm
Xapian/RangeError.pm
Xapian/RuntimeError.pm
Xapian/SerialisationError.pm
Xapian/UnimplementedError.pm
blib/
handle_exception.cc
handle_exception.lo
makefile-pl-args
pm_to_blib
typemap-errorclasses
