/.*.sw?
/Makefile.in
/Makefile
/.deps
/.libs
/SmokeTest.class
/MyMatchDecider.class
/MyExpandDecider.class
/built
/Auto.class
/Auto.java
/BM25Weight.class
/BM25Weight.java
/BoolWeight.class
/BoolWeight.java
/Database.class
/Database.java
/Document.class
/Document.java
/Enquire.class
/Enquire$docid_order.class
/Enquire.java
/ESet.class
/ESetIterator.class
/ESetIterator.java
/ESet.java
/ExpandDecider.class
/ExpandDecider.java
/Flint.java
/Flint.class
/InMemory.class
/InMemory.java
/MatchDecider.class
/MatchDecider.java
/MSet.class
/MSetIterator.class
/MSetIterator.java
/MSet.java
/PositionIterator.class
/PositionIterator.java
/PostingIterator.class
/PostingIterator.java
/Query$1.class
/Query.class
/Query.java
/Query$op.class
/QueryParser.class
/QueryParser$feature_flag.class
/QueryParser.java
/QueryParser$stem_strategy.class
/Remote.class
/Remote.java
/RSet.class
/RSet.java
/SimpleStopper.class
/SimpleStopper.java
/Stem.class
/Stem.java
/Stopper.class
/Stopper.java
/TermGenerator.class
/TermGenerator.java
/TermIterator.class
/TermIterator.java
/TradWeight.class
/TradWeight.java
/ValueIterator.class
/ValueIterator.java
/Version.class
/Version.java
/Weight.class
/Weight.java
/WritableDatabase.class
/WritableDatabase.java
/Xapian.class
/XapianConstants.class
/XapianConstants.java
/Xapian.java
/XapianJNI.class
/XapianJNI.java
/xapian_wrap.cc
/xapian_wrap.h
/xapian_wrap.stamp
