<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.DTD">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb">
<head>
  <title>Indexing run</title>
  <link rel="shortcut icon" type="image/ico" href="https://xapian.org/favicon.ico" />
</head>
<body>
  <h1>Indexing run</h1>
  <a href="#" node="con:csv_link">CSV</a>
  <a href="#" node="con:chart_link">Chart</a>
  <a href="#" node="con:ratechart_link">Rate Chart</a><br/>
  <table style="indexrun_list">
    <tr>
      <th>Additions</th>
      <th node="rep:timeheadings">Time</th>
    </tr>
    <div node="-rep:runs">
    <tr>
      <td node="con:additions"></td>
      <div node="-rep:times"><td node="con:time"></td></div>
    </tr>
    </div>
  </table>
</body>
</html>
