/.*.sw?
/*.lo
/Makefile.in
/Makefile
/.deps
/.libs
/except.i
/util.i
/xapian_wrap.cc
/xapian_wrap.h
/xapian_wrap.d
/Xapian.la
/*.stamp
/testdb
/testdb-exception
/testdb-exception-modified
/testdb-spell
/testdb-writabledatabase
