/.*.sw?
/Makefile
/Makefile.in
/aclocal.m4
/configure
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/docsource.mk
/install-sh
/libtool
/ltmain.sh
/stamp-h
/stamp-h1
/stamp-h.in
/.libs
/autom4te*.cache
/depcomp
/m4
/missing
/makemanpage
/sourcedoc.mk
/xapian-config
/libxapian.la
/libgetopt.la
/libbrasscheck.la
/libchertcheck.la
/xapian-core-*.tar.gz
/xapian-core.spec
/xapian-config.1
