/*~
/*.la
/*.lo
/*.log
/*.trs
/.deps/
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/profiler.so
/stamp-h1
/test-driver
