/.*.sw?
/*.lo
/*.pyc
/Makefile.in
/Makefile
/.deps
/.libs
/apitest
/internaltest
/queryparsertest
/runsrv
/runtest
/stemtest
/termgentest
/unittest
/apitest.exe
/internaltest.exe
/queryparsertest.exe
/stemtest.exe
/termgentest.exe
/unittest.exe
/.brass
/.chert
/.multibrass
/.multichert
/.stub
/api_all.h
/api_anydb.h
/api_backend.h
/api_closedb.h
/api_collapse.h
/api_collated.h
/api_collated.stamp
/api_compact.h
/api_db.h
/api_generated.cc
/api_generated.h
/api_matchspy.h
/api_metadata.h
/api_nodb.h
/api_none.h
/api_opsynonym.h
/api_opvalue.h
/api_percentages.h
/api_posdb.h
/api_postingsource.h
/api_replacedoc.h
/api_replicate.h
/api_qpbackend.h
/api_query.h
/api_queryopt.h
/api_scalability.h
/api_serialise.h
/api_sorting.h
/api_spelling.h
/api_stem.h
/api_transdb.h
/api_unicode.h
/api_valuestats.h
/api_valuestream.h
/api_wrdb.h
/perflog.xml
/submitperftest
/zlib-vg.so
