/.*.sw?
/*.lo
/*.obj
/.deps
/.libs
/.dirstamp
/snowball
/allsnowballheaders.h
/armenian.cc
/armenian.h
/basque.cc
/basque.h
/catalan.cc
/catalan.h
/danish.cc
/danish.h
/dutch.cc
/dutch.h
/english.cc
/english.h
/finnish.cc
/finnish.h
/french.cc
/french.h
/german.cc
/german.h
/german2.cc
/german2.h
/hungarian.cc
/hungarian.h
/italian.cc
/italian.h
/kraaij_pohlmann.cc
/kraaij_pohlmann.h
/lovins.cc
/lovins.h
/norwegian.cc
/norwegian.h
/porter.cc
/porter.h
/portuguese.cc
/portuguese.h
/romanian.cc
/romanian.h
/russian.cc
/russian.h
/spanish.cc
/spanish.h
/swedish.cc
/swedish.h
/turkish.cc
/turkish.h
/generate-allsnowballheaders
/sbl-dispatch.h
/stopwords/*.list
