/.*.sw?
/*.lo
/*.obj
/.deps
/.libs
/.dirstamp
/algorithms/*.cc
/algorithms/*.h
/algorithms/*.lo
/algorithms/.deps
/algorithms/.dirstamp
/snowball
/allsnowballheaders.h
/sbl-dispatch.h
/stopwords/*.list
