# -*- python -*-
# ex: set syntax=python:

import bbutils
from svnpoller import SVNPoller
from tarsource import TarPoller

from xapian_factories import *

c = bbutils.BuildBotConfig("Xapian", "http://xapian.org/")
BuildmasterConfig = c.c

xapian_svnurl = "svn://svn.xapian.org/xapian/"
tarball_root = "http://www.oligarchy.co.uk/xapian/trunk/"

c.add_bot("linux_amd64_atreus")
c.add_bot("linux_i686_earlgrey")
c.add_bot("win32_mongoose")
c.add_bot("macos_totoro")
c.set_slave_portnum(9989)


sp = SVNPoller(svnurl=xapian_svnurl, pollinterval=60, histmax=100)
sp.split_file = lambda path: ('trunk', path)
c.add_source(sp)

tp = TarPoller(tarball_root, branch='tar', archives=('xapian-core', 'xapian-omega', 'xapian-bindings'), pollinterval=60)
c.add_source(tp)

c.addScheduler("xapian_svn_quick",    branch="trunk", treeStableTimer=70)
c.addScheduler("xapian_svn_slow",     branch="trunk", treeStableTimer=15*60)
c.addScheduler("xapian_svn_veryslow", branch="trunk", treeStableTimer=3*60*60)
c.addScheduler("xapian_svn_vslowdep", branch="trunk", depends="xapian_svn_veryslow")

c.addScheduler("xapian_tar",          branch="tar", treeStableTimer=0)

c.addBuilder("xapian_head_update_linux_amd64",          svn_updated_factory(xapian_svnurl),          "linux_amd64_atreus",  "xapian_svn_quick")
c.addBuilder("xapian_head_update_win32",                svn_updated_win_factory(xapian_svnurl),      "win32_mongoose",      "xapian_svn_quick")
c.addBuilder("xapian_head_update_macos",                svn_updated_factory(xapian_svnurl),          "macos_totoro",        "xapian_svn_slow")
c.addBuilder("xapian_head_update_linux_i686",           svn_updated_factory(xapian_svnurl),          "linux_i686_earlgrey", "xapian_svn_slow")
c.addBuilder("xapian_head_clean_linux_amd64",           svn_clean_factory(xapian_svnurl),            "linux_amd64_atreus",  "xapian_svn_veryslow")
c.addBuilder("xapian_head_update_valgrind_linux_amd64", svn_updated_valgrind_factory(xapian_svnurl), "linux_amd64_atreus",  "xapian_svn_veryslow")

c.addBuilder("xapian_tar_linux_amd64",                  tarball_updated_factory(tarball_root),       "linux_amd64_atreus",  "xapian_tar")


# FIXME - we set the hostname to localhost, because you currently need to
# tunnel in with SSH anyway.  We'll fix this eventually.
c.add_status_html_waterfall(hostname="localhost", http_port=8010)
c.add_status_irc(host="irc.freenode.net",
                 nick="xapian-buildbot",
                 channels=["#xapian-devel"])

c.finalise()
