/.*.sw?
/Makefile
/Makefile.in
/aclocal.m4
/compile
/configure
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/install-sh
/libtool
/ltmain.sh
/stamp-h
/stamp-h1
/stamp-h.in
/test-driver
/autom4te*.cache
/depcomp
/missing
/xapian-bindings-*.tar.xz
/xapian-bindings.spec
/xapian-version.h
